@page
@model AddScenarioModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">AddScenario</h1>
    <form method="post">
        <h2>Patient</h2>
        <label for="patientName">Name</label>
        <input type="text" name="patientName" id="patientName" />
        <label for="patientWeight">Weight</label>
        <input type="number" name="patientWeight" id="patientWeight" />
        <label for="patientAge">Age</label>
        <input type="number" name="patientAge" id="patientAge" />
        <label for="selectSex">Velg sex</label>
        <select name="selectSex" id="selectSex">
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Other</option>
        </select>
        <label for="selectStatus">Velg status</label>
        <select name="selectStatus" id="selectStatus">
            <option value="1">Healthy</option>
            <option value="2">Sick</option>
            <option value="3">Severely sick</option>
            <option value="4">Dead</option>
        </select>
        <label for="heartrate">Heartrate</label>
        <input type="number" name="heartrate" id="heartrate" />
        <label for="bloodpressureSystolic">Blood Pressure</label>
        <input type="number" name="bloodpressureSystolic" id="bloodpressureSystolic" />
        <label for="bloodpressureDiastolic">Blood Pressure</label>
        <input type="number" name="bloodpressureDiastolic" id="bloodpressureDiastolic" />
        <label for="respiratoryRate">Respiratory rate</label>
        <input type="number" name="respiratoryRate" id="respiratoryRate" />
        <label for="temperature">Temperatur</label>
        <input type="number" name="temperature" id="temperature" />
        @foreach (var illness in Model.Diagnoses)
        {
            <label for="illness-@illness.IllnessId">@illness.IllnessName</label>
            <input type="checkbox" id="illness-@illness.IllnessId" name="diagnoses" value="@illness.IllnessId" />
        }
        @foreach (var allergy in Model.Allergies)
        {
            <label for="allergy-@allergy.MedicationId">@allergy.MedicationName</label>
            <input type="checkbox" id="allergy-@allergy.MedicationId" name="allergies" value="@allergy.MedicationId" />
        }

        <h2>Case</h2>
        <label for="selectStudent">Select student</label>
        <select name="selectStudent" id="selectStudent">
            @foreach (var student in Model.Students)
            {
                <option value="@student.UserId">@student.Name</option>
            }
        </select>
        @foreach (var goal in Model.Goals)
        {
            <label for="goal-@goal.GoalId">@goal.Description</label>
            <input type="checkbox" id="goal-@goal.GoalId" name="goals" value="@goal.GoalId" />
        }
        <input type="submit" value="Add scenario" />
    </form>
</div>
